$font-header: "Raleway", sans-serif;
$font-subheader: "Fugaz One", cursive;
body {
  width:auto;
}

header {
  background-color: rgba(#000000, 0.6);
}

.hide {
  display:none;
}

.headerText {
    text-align: center;
    font-size: 12em;
    font-family: $font-header;
    margin-top: 0;
  .initials {
    position:relative;
  }
}

#experience {
  display:inline-block;
  h2 {
    color:white;
    font-family: $font-subheader;
    align-self: flex-start;

  }

}

#work {
  h2 {
    color:white;
    font-family: $font-subheader;
  }

}

#interests {
  h2 {
    color:white;
    font-family: $font-subheader;
  }

}


.section {
  width:auto;
  margin-left: 20%;
  display:block;
  margin-bottom: 5%;
  background-color: rgba(#000000, 0.9);


  .name {
    position:absolute;
    font-size: 8em;
    color:rgba(#bab9b9, 0);
    letter-spacing: 70px;
    width:auto;
    z-index: -1;
  }
}
