body {
  width: auto; }

header {
  background-color: rgba(0, 0, 0, 0.6); }

.hide {
  display: none; }

.headerText {
  text-align: center;
  font-size: 12em;
  font-family: "Raleway", sans-serif;
  margin-top: 0; }
  .headerText .initials {
    position: relative; }

#experience {
  display: inline-block; }
  #experience h2 {
    color: white;
    font-family: "Fugaz One", cursive;
    align-self: flex-start; }

#work h2 {
  color: white;
  font-family: "Fugaz One", cursive; }

#interests h2 {
  color: white;
  font-family: "Fugaz One", cursive; }

.section {
  width: auto;
  margin-left: 20%;
  display: block;
  margin-bottom: 5%;
  background-color: rgba(0, 0, 0, 0.9); }
  .section .name {
    position: absolute;
    font-size: 8em;
    color: rgba(186, 185, 185, 0);
    letter-spacing: 70px;
    width: auto;
    z-index: -1; }
