body {
  width: 100%; }

a:hover {
  text-shadow: 0 0 1px white 0 0 3px white 0 0 5px white; }

ul {
  display: inline-block; }

.headerBar {
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  height: 0; }
  .headerBar i {
    color: rgba(255, 255, 255, 0);
    padding: 10px;
    text-align: center; }

.hide {
  display: none; }

#headerInit {
  text-align: center;
  display: block;
  height: 200px; }
  #headerInit .initials {
    font-size: 13em;
    font-family: "Raleway", sans-serif;
    margin-top: 0;
    position: relative; }

#allCarousels {
  z-index: 1;
  margin-top: -55%; }

.section {
  width: 80%;
  margin-left: 15%;
  display: block;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 1% 3% 3% 3%;
  height: 300px;
  border-radius: 20px;
  margin-bottom: 10px; }

.carousel-indicators {
  bottom: 5px; }
  .carousel-indicators li {
    width: 20px;
    height: 20px; }
  .carousel-indicators .active {
    width: 20px;
    height: 20px; }

.slideTitle {
  text-align: center;
  font-size: 7rem;
  font-family: "Raleway", sans-serif;
  color: white;
  padding-top: 40px; }

#experience {
  padding: 10px; }

h2 {
  color: white;
  font-family: "Fugaz One", cursive; }

.sectionHead {
  margin-top: 0;
  margin-bottom: 15px;
  color: white;
  border-bottom: 2px solid white;
  outline: 1px solid white;
  outline-offset: 5px;
  padding-bottom: .5%; }

.expCols {
  color: white; }
  .expCols ul {
    font-size: 1.5rem; }

.jobTitle {
  font-size: 3rem;
  font-family: "Raleway", sans-serif;
  border-right: 1px solid white;
  padding-right: 8px;
  padding-bottom: 100px; }

#work {
  padding: 10px; }
  #work h2 {
    color: white;
    font-family: "Fugaz One", cursive; }

#col1Crowd {
  padding-bottom: 10%; }

#col1Photo {
  padding-bottom: 15%; }

#col1Bucket {
  padding-bottom: 10%; }

#col2Crowd {
  padding-bottom: 7%; }

#col2Photo {
  padding-bottom: 10%; }

#col2Bucket {
  padding-bottom: 5%; }

.projCols {
  color: white;
  border-right: 1px solid white; }
  .projCols img {
    width: 37%;
    padding-top: 2%; }
  .projCols .projTitle {
    top: -16px;
    position: relative;
    font-size: 2.5rem;
    font-family: "Raleway", sans-serif;
    display: inline-block;
    padding-bottom: 3%;
    margin: 0; }
  .projCols i {
    color: white;
    display: inline-block;
    padding-left: 8%; }
  .projCols ul {
    font-size: 1.1em;
    float: bottom; }
  .projCols h3 {
    font-size: 1em;
    text-align: center; }

#videoLink {
  font-size: 2rem;
  text-align: center;
  font-style: "Fugaz One", cursive; }

#videoModal .modal-content {
  margin-left: 11%; }

#interests {
  padding: 10px; }
  #interests h2 {
    color: white;
    font-family: "Fugaz One", cursive; }

#chicago {
  background-image: url("../chicago.jpg");
  padding-bottom: 10%;
  background-size: cover;
  border-radius: 10px;
  width: 45%;
  margin-right: 5%;
  color: white; }
  #chicago h1 {
    font-family: "Raleway", sans-serif;
    text-align: center;
    color: white; }
  #chicago p {
    font-size: 1.8rem;
    text-align: center; }

#charleston {
  background-image: url("../charleston.jpg");
  padding-bottom: 7%;
  background-size: cover;
  border-radius: 10px;
  margin-left: 5%;
  width: 45%;
  color: white; }
  #charleston h1 {
    font-family: "Raleway", sans-serif;
    text-align: center; }
  #charleston p {
    font-size: 1.8rem;
    text-align: center; }

#ashley {
  background-image: url("../charlestonWed.jpg");
  background-size: cover;
  padding-bottom: 12%;
  border-radius: 10px;
  background-position: center; }
  #ashley h1 {
    font-family: "Raleway", sans-serif;
    text-align: right;
    padding-right: 3%; }
  #ashley p {
    font-size: 1.8rem;
    text-align: right;
    padding-right: 3%; }

#bearPear {
  background-image: url("../bearPear.jpg");
  background-size: 60%;
  padding-bottom: 12%;
  background-repeat: no-repeat;
  background-position: 0 17%; }
  #bearPear h1 {
    font-family: "Raleway", sans-serif;
    text-align: right;
    padding-right: 3%;
    color: white; }
  #bearPear p {
    font-size: 1.8rem;
    text-align: right;
    padding-right: 3%;
    color: white; }

#me {
  background-image: url("../me.jpg");
  background-size: 144%;
  background-repeat: no-repeat;
  padding-bottom: 5%;
  border-radius: 10px; }
  #me h1 {
    font-family: "Raleway", sans-serif;
    text-align: right;
    padding-right: 3%;
    color: black; }
  #me p {
    font-family: "Raleway", sans-serif;
    font-size: 1.8rem;
    padding-right: 3%;
    color: black;
    text-align: center; }

.name {
  width: auto;
  margin-left: 15%;
  z-index: -1;
  font-size: 8em;
  color: rgba(186, 185, 185, 0);
  letter-spacing: 30px; }

#max {
  margin-top: -3.7%;
  margin-bottom: 3%; }

#lyle {
  margin-top: 7.8%; }

#krause {
  margin-top: 9%; }
