$font-header: "Raleway", sans-serif;
$font-subheader: "Fugaz One", cursive;
body {
  width:100%;
  height:auto;
}

ul{
  display: inline-block;
}
.sectionHead {
  margin-top: 0;
  margin-bottom: 40px;
  border-bottom: double white 5px 2px;
}
.headerBar {
  background-color: rgba(#000000, 0.6);
  i {
    display: inline-block;
    text-align: center;
    color:white;
  }
}


.hide {
  display:none;
}

#headerInit {
  text-align: center;
  display: block;
  height:200px;
  .initials {
    font-size: 12em;
    font-family: $font-header;
    margin-top: 0;
    position:relative;
  }
}

#allCarousels{
  position: relative;
  bottom:20vh;
}
.section {
  width:0;
  margin-left: 15%;
  display:block;
  margin-bottom: 2%;
  background-color: rgba(#000000, 0.9);
  padding:1% 3% 3% 3%;
  height:200px;
  border-radius: 20px;

}

.carousel-control{
  border-radius: 20px;
}

#experience {
  .item {

  }
  h2 {
    color:white;
    font-family: $font-subheader;
  }
}

#work {
  .item {

  }
  h2 {
    color:white;
    font-family: $font-subheader;
  }

}

#interests {
  .item {

  }
  h2 {
    color:white;
    font-family: $font-subheader;
  }
}
.name {
    width:auto;
    margin-left: 15%;
    margin-bottom: 5%;
    z-index: -1;
    position:absolute;
    font-size: 8em;
    color:rgba(#bab9b9, 0);
    letter-spacing: 30px;
}

#max {
  top:180px;
}
#lyle {
  top:420px;
}
#krause {
  top:660px;
}
