body {
  width: 100%; }

ul {
  display: inline-block; }

.sectionHead {
  margin-top: 0;
  margin-bottom: 40px;
  border-bottom: double white 5px 2px; }

.headerBar {
  background-color: rgba(0, 0, 0, 0.6); }
  .headerBar i {
    display: inline-block;
    text-align: center; }

.hide {
  display: none; }

#headerInit {
  text-align: center;
  display: block; }
  #headerInit .initials {
    font-size: 12em;
    font-family: "Raleway", sans-serif;
    margin-top: 0;
    position: relative; }

#allCarousels {
  position: relative;
  bottom: 20vh; }

.section {
  width: 0;
  margin-left: 15%;
  display: block;
  margin-bottom: 3%;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 1% 3% 3% 3%;
  height: 200px; }

#experience h2 {
  color: white;
  font-family: "Fugaz One", cursive; }

#work h2 {
  color: white;
  font-family: "Fugaz One", cursive; }

#interests h2 {
  color: white;
  font-family: "Fugaz One", cursive; }

.restOfName {
  width: auto;
  margin-left: 15%;
  margin-bottom: 5%;
  z-index: -1;
  position: absolute; }
  .restOfName .name {
    position: absolute;
    font-size: 8em;
    color: rgba(186, 185, 185, 0);
    letter-spacing: 30px;
    width: auto;
    z-index: -1; }
